#skills div .icon-small {
    width: 1rem;
    height: 1rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}


#skills ul {
    list-style-type: none;
}

#skills ul li {
    display: inline;
    margin: 2.5rem;
}

.skill-grid {
    display: grid;
    grid-template-areas: 
    "skill-container skill-container"
    "skill-container skill-container";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 33%;
}

.skill-container {
    display: block;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 0.25rem;
    width: 17.9375rem;
    height: 8.625rem;
    text-align: center;
}

.skill-container div a {
    color: black;
}

.skill-container div {
    text-align: left;
}

.disabled {
    background-color: #d6d6d6 !important;
    color: #acacac !important;
}

.disabled:hover {
    background-color: #d6d6d6;
    box-shadow: none;
}

.disabled:active {
    background-color: gray;
    box-shadow: none;
}

.skill-container .mui-btn {
    font-size: 0.8125rem;
}