/* Universal Styles */
header .icon-small {
    width: 1.625rem;
    height: 1.625rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 1.1rem;
}

nav .links {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    margin: 0.25rem;
}

nav .links li {
    display: inline;
}

nav .links li a {
    color: black;
}

nav .icons {
    display: inline-block;
    align-self: right;
    margin: 0.25rem;
}

nav .icons li {
    display: inline;
}

footer {
    border-top: 0.1rem solid #CCC;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

/* Responsive Designs: Universal */
@media only screen and (max-width: 640px) {
    nav menu .current {
        display: none;
    }

    .links li {
        padding: 10px;
    }
}

@media only screen and (max-width: 460px) {
    nav menu {
        padding: 0;
    }
    .links li a {
        font-size: 1.1rem;
    }

    footer a {
        display: none;
    }

    footer {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 381px) {
    .links li {
        float: left;
    }

    nav .icons {
        display: none;
    }
}

/* Contact Page */

.tag {
    padding: 0.25rem 0.5rem;
    background-color: #E5E5E5;
    border-radius: 5px;
}

.contact-list {
    list-style-type: none;
    padding: 0.25rem;
}

i {
    color: #666;
}

/* Portfolio Page */

.github {
    background-color: #24292F;
    color: white;
    display: block;
}

#website-grid {
    display: grid;
    width: 33%;
    height: auto;
}

#website-grid img {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: auto;
}

#website-grid img:hover {
    width: 175%;
}

/* Responsive Designs: Portfolio */
@media only screen and (max-width: 495px) {
    #website-grid {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: auto;
    }

    #website-grid div {
        width: 100%;
        height: auto;
    }
}

.codecademy {
    background-color: black !important;
    color: white !important;
    font-weight: bold;
}


.codecademy:active {
    background-color: black !important;
    color: white !important;
    font-weight: bold;
}

.codecademy:hover {
    background-color: black !important;
    opacity: 0.7 !important;
}